<div>
    <h2 id="page-heading">
        <span>Survey Responses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-survey-response" [routerLink]="['/survey-response/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Survey Response
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="surveyResponses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updated"><span>Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startedat"><span>Startedat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="completedat"><span>Completedat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="surveyId"><span>Survey</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="respondentId"><span>Respondent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let surveyResponse of surveyResponses ;trackBy: trackId">
                <td><a [routerLink]="['/survey-response', surveyResponse.id, 'view' ]">{{surveyResponse.id}}</a></td>
                <td>{{surveyResponse.updated | date:'medium'}}</td>
                <td>{{surveyResponse.startedat | date:'medium'}}</td>
                <td>{{surveyResponse.completedat | date:'medium'}}</td>
                <td>
                    <div *ngIf="surveyResponse.surveyId">
                        <a [routerLink]="['../survey', surveyResponse.surveyId , 'view' ]" >{{surveyResponse.surveyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="surveyResponse.respondentId">
                        <a [routerLink]="['../respondent', surveyResponse.respondentId , 'view' ]" >{{surveyResponse.respondentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/survey-response', surveyResponse.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/survey-response', surveyResponse.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'survey-response', { outlets: { popup: surveyResponse.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="surveyResponses && surveyResponses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
